/* Tip! 
css 모듈을 사용하고 있으므로 다른 컴포넌트에서 btn 클래스명을 가지고 있어도  겹치지 않는다는 이점이 있다. */

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.1rem 0;
  color: var(--color-text);
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

.text {
  flex: 1 1 0%;
  margin-left: 0.5rem;
}

.icon {
  width: 26px;
  height: 26px;
  background-color: var(--color-grey);
  border-radius: 100%;
  transition: all 150ms ease-out;
}

.icon:hover {
  background-color: var(--color-accent);
  transform: rotate(15deg) scale(1.2);
}

.btn {
  color: var(--color-text);
  background-color: transparent;
}
